[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "==1.9.2"
environs = {version = "==8.0.0", extras = ["django"]}
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"
django = "~=3.1.0"
django-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
