{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Password Change{% endblock title %}

{% block content %}
<div class='row mb-3'>
    <div class='registration col-md-5 mx-auto col-10'>
        <h2>Password change</h2>
        <p>Please enter your old password, for security's sake, and then enter 
            your new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
    </div>
</div>
{% endblock content %}