{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
    {% for article in object_list %}
        <div class="">
            <div class="">
                <span class="font-weight-bold"><h2><a class="head" href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h2></span>
                <span class="text-muted">by {{ article.author }} | {{ article.date }}</span>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="{{article.imageURL}}" alt="{{ article.title }} image">
                <br>
                <br>
                <p>{{ article.body|safe }}</p>
            </div>
            
                <p>
                <button class="btn btn-primary btn-sm"><a class="comment" href="{% url 'article_detail' article.pk %}"> View And Add Comment</a></button>
                </p>
                <div class="card-footer text-muted">
        {% if article.comments.all %}

        <!-- Likes, Dislikes, Number Of Comment -->
       
        <div class="row">
            <div class="col-sm-3">
                <strong class="text-secondary">
                    {{ object.number_of_comments }} Comment{{ object.number_of_comments|pluralize }}
                </strong>
            </div>

        </div>

        <hr>
        <ul>
            {% for comment in article.comments.all %}
                <li>           
                    <div>
                    <span>
                        <strong class="text-info">{{ comment.author }} </strong>
                        <small class="text-muted">{{ comment.date }}</small>
                    </span>
                    <p>
                        {{ comment.comment|safe }}
                    </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
    <br>
        <div>
            <strong class="text-secondary">No comments yet...</strong>
        </div>

    {% endif %}
            </div>
        </div>
        <br />
    {% endfor %}
{% endblock content %}