{% extends 'base.html' %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by {{ object.author }} | {{ object.date }}</p>
        <img class="thumbnail" src="{{article.imageURL}}">
    <p>{{ object.body }}</p>
</div>
{% if user.is_authenticated %}
<p><a href="{% url 'article_edit' article.pk %}">Edit</a> | 
    <a href="{% url 'article_delete' article.pk %}">Delete</a>
</p>
{% endif %}
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
{% endblock content %}