{% extends 'base.html' %}

{% block title %}Atere Newspaper App{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
    Hi {{ user.username }}! You are {{ user.age }} years old.
{% else %}
    <p>You are not logged in</p>
{% endif %}
<br />
<div class="jumbotron">
    <h1 class="display-4">Atere Newspaper app</h1>
    <p class="lead">A Newspaper website built with Django for Naija news</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a>
    </p>
</div>
{% endblock content %}