{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}

<br />
<div class="jumbotron row">
    <div class="col-md-12">
        <h1 class="display-4 head ">Welcome {{ user.username }}!</h1>
        <h3 class="text-center">Profile</h3>
    </div>
    <hr>
    <div class="col-md-3">
        <img class="profile-pic" src="{{request.user.profile.image.url}}" alt="{{ user.username }} picture">
    </div>
    <br>
    <div class="col-md-8">
        <p class=""><strong>Age : </strong> {{ user.age }} years old.</p>
        <hr>
        <p class=""><strong>Role : </strong> {{ user.role }} role.</p>
        <hr>
        <p class=""><strong>Email : </strong> {{ user.email }}.</p>
        <hr>
            <a class="btn btn-warning" href="{% url 'settings' %}"> Edit</a>
            <a class="btn btn-info" href="{% url 'article_list' %}" role="button">View All Articles</a>
    </div>
    
</div>
{% endblock content %}