h1 {
    color: blue;
    }

#bana {
    color: blue;
    font-size: 30px;
}

.head {
    text-transform: capitalize;
}

.head:hover {
    text-decoration: none;
}

.comment {
    color:white;
}

.comment:hover {
    color:white;
    text-decoration: none;
}

.registration {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}